.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
i {
  color: #ffffff;
}
.date__create {
  color: #000000;
  font-size: 12px;
}
.hidden {
  opacity: 0.4;
  transition: 0.5s;
}
.placheholder {
  width: auto;
  height: 200px;
  border: 2px dashed #33b5e5;
}
.button__delete {
  width: 100%;
  margin: 0;
  margin-top: 15px;
  border-radius: 50px;
}
.todo_container {
  list-style-type: none;
  padding: 0;
  margin-top: 60px;
  position: relative;
}
.todo_container > li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 40px 0;
}
.todo_container > li .wrapper {
  padding-left: 15px;
  padding-right: 15px;
  transition: 0.5s;
}
.todo_container > li .zag {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.dropdown-menu {
  padding-right: 15px;
  padding-left: 15px
}
.dropdown a {
  margin: 0;
  margin-bottom: 5px;
}
/* .dropdown-item:hover {
  color: #ffffff;
  background-color: #4285f4 !important;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
} */
footer {
  bottom: 0;
  background-color: #33b5e5 !important;
  width: 100vw;
}
.form {
  margin-top: 80px;
  padding: 0;
}
.navbar {
  background-color: #33b5e5;
}
.border-green {
  border-color: #00C851 !important;
  transition: 0.5s;
}
.border-red {
  border-color: #CC0000 !important;
  transition: 0.5s;
}
.delete {
  background-color: #CC0000;
  color: #ffffff !important;
}
.wrapper__error,
.errors {
  color: #CC0000;
}
.form,
.todo_container {
  padding-left: 15px;
  padding-right: 15px;
}
.delete:hover{
  background-color: #CC0000;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  outline: 0;
}
.wrapper p {
  word-wrap: break-word;
}

.light,
.light .navbar,
.light .todo_container li .dropdown a,
.light .todo_container li .dropdown div,
.light .form form,
.light .form form input,
.light .form form .create,
.light .form .md-form .button__delete,
.light .form .md-form input,
.light .todo_container li .wrapper,
.light .navbar .navbar-brand,
.light .navbar .navbar-collapse ul li a,
.light .todo_container li,
.light .todo_container li .wrapper i {
  transition: 0.5s !important;
}

.dark-theme-with-tranzition,
.dark-theme-with-tranzition .navbar,
.dark-theme-with-tranzition .todo_container li .dropdown a,
.dark-theme-with-tranzition .todo_container li .dropdown div,
.dark-theme-with-tranzition .form form,
.dark-theme-with-tranzition .form form input,
.dark-theme-with-tranzition .form form .create,
.dark-theme-with-tranzition .form .md-form .button__delete,
.dark-theme-with-tranzition .form .md-form input,
.dark-theme-with-tranzition .todo_container li .wrapper,
.dark-theme-with-tranzition .navbar .navbar-brand,
.dark-theme-with-tranzition .navbar .navbar-collapse ul li a,
.dark-theme-with-tranzition .todo_container li,
.dark-theme-with-tranzition .todo_container li .wrapper i {
  transition: 0.5s !important;
}

.dark-theme {
  background-color: #1D1D24;
}
.dark-theme .form form .create {
  background-color: #135e79 !important;
}
.dark-theme .form .md-form .button__delete {
  background-color: #73131b !important;
}
.dark-theme .form form input {
  background-color: #14191E;
  border: none;
}
.dark-theme .navbar,
.dark-theme .todo_container li .dropdown a {
  background-color: #23232D !important;
}
.dark-theme .todo_container li .dropdown div {
  background-color: #1D1D24;
}
.dark-theme .form form,
.dark-theme .form .md-form input,
.dark-theme .todo_container li .wrapper {
  border-color: #2C2C36 !important;
}
.dark-theme .form form p,
.dark-theme .todo_container li,
.dark-theme .todo_container li .wrapper i {
  color: #77BABC !important;
}